* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    scroll-behavior: smooth;
    color: #333;
}

.first-section {
    height: 100vh;
    background: url("images/japan\ first\ slide.jpg") center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 40px 60px;
    text-align: center;
    color: white;
    border-radius: 20px;
    max-width: 90%;
    margin: 0 auto;
}

.overlay h1 {
    font-size: 3rem;
    margin-bottom: 15px;
}

.overlay p {
    font-size: 1.3rem;
}

.intro {
    padding: 60px 20px;
    text-align: center;
    background-color: #fff;
}

.intro h2 {
    margin-bottom: 1px;
}

.cities {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 60px 20px;
    gap: 40px;
    background-color: #f0f0f0;
}

.city-card img {
    width: 100%;
    height: 800px;
    object-fit: cover;
}

footer {
    background-color: #222;
    color: #eee;
    text-align: center;
    padding: 20px;
}

.book-btn {
    display: inline-block;
    background-color: #e60023;
    border: 2px solid white;
    color: #ffff;
    border-radius: 10px;
    cursor: pointer;
    transition: backround 0.3s ease;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
    padding: 15px;
    font-size: large;
}

.book-bttn {
    margin-top: 30px;
    text-align: center;
    padding: 15px;
    font-size: large;
}

.cities:hover> :not(:hover) {
    opacity: 0.5;
    filter: blur (10px);
    tranform: scale(0.8);
    cursor: pointer;
}

.city-card:hover {
    transform: translateY(-5px);
}